.rightarrow{font-family:times,serif;font-weight:700}
body{color:#000;background-color:#F9F9F9;margin:0;padding:0;font-size:1.1em}
#header{background-color:#003973;border-width:0 0 0;border-style:solid;border-color:#000;float:left;width:100%}
#header img{width:100%;max-width:800px;max-height:100px}
h2 {text-align:center;margin-bottom:0px;margin-top:14%;}
#larger{font-size:1.17em}
ul{margin-left:5px;margin-right: 0px;margin-top:0px;margin-bottom:0px;padding-top:0px-padding-bottom:0px;padding-left: 16px;padding-right: 0px;list-style-type:disc}
ul#indent{margin-left:5px;margin-right: 0px;margin-top:0px;margin-bottom:0px;padding-top:0px-padding-bottom:0px;padding-left: 30px;padding-right: 0px;list-style-type:circle}
li {padding-right:0px;padding-left:0px;margin-left:0px;margin-bottom:5px;margin-top:5px}
#subtitle{background: linear-gradient(to bottom, #FFFBCB,#FFEF3F);border-radius:0 10px 10px 0;border:1px solid #ECCD60;padding:5px;background-color:#FFF581;max-width:785px;width:98%;box-shadow:3px 3px 3px #ECCD60;font-size:1.08em}
#subtitleindex{border-radius:0 10px 10px 0;border:2px solid #ECCD60;padding:2px;background-color:#FFF581;max-width:450px;width:98%;display:block}
#blurbindex{max-width:430px;width:88%;background-color:#FCFCFC;border-width:0 1px 1px;border-style:solid;border-color:#888;text-align:left;padding:5px;color:#000;box-shadow:3px 3px 3px #888}
#clearindex{clear:both;display:inline-block;margin:0;padding:0}
#border{padding:0px;background-color:#FFF;text-align:left;border-color:#606060;border-style:solid;border-width:1px;box-shadow:3px 3px 3px #404040;max-width:800px;width:95%;margin-top:2%;}
#content{padding:5px;background-color:#FFF;border-style:solid;border-width:0}
#also{padding:5px;background-color:#FFF;border-style:solid;border-width:0}
#indent{padding-left:18pt;padding-right:18pt;}
#blurbindent{padding-left:10pt;padding-right:10pt}
#blurb{max-width:760px;width:98%;background-color:#FCFCFC;border-width:0 1px 1px;border-style:solid;border-color:#888;text-align:/*left*/justify;padding:5px;color:#000;box-shadow:2px 2px 2px #888;background: linear-gradient(130deg, #F9F9F9,#FEFEFE);}
#random{background: linear-gradient(180deg, #FFF6BB,#FFFBE3);text-align:left;max-width:550px;width:95%;background-color:#FFF7C5;border-spacing:5px;padding:5px;border-style:solid;border-width:1px;border-color:#F3D403;font-size:1.15em;border-radius:2px;box-shadow:2px 2px 2px #F3D403;}
A:link{color:#0000ff}
A:visited{color: #0000ff;}
A:active,A:hover{color:ff0000}
.button{display:inline-block;text-align:center;vertical-align:middle;padding:12px 24px;border:1px solid #c86311;border-radius:8px;background:#ffa11b;background:-webkit-gradient(linear,left top,left bottom,from(#ffa11b),to(#c86311));background:-moz-linear-gradient(top,#ffa11b,#c86311);background:linear-gradient(to bottom,#ffa11b,#c86311);box-shadow:#ff9519 0 0 25px 0;text-shadow:#7d3e0b 1px 1px 1px;font:normal normal bold 1.1em arial;color:#fff;text-decoration:none}
.button:hover,.button:focus{border:1px solid #fa7c15;background:#ffc120;background:-webkit-gradient(linear,left top,left bottom,from(#ffc120),to(#f07714));background:-moz-linear-gradient(top,#ffc120,#f07714);background:linear-gradient(to bottom,#ffc120,#f07714);color:#fff;text-decoration:none}
.button:active{background:#c86311;background:-webkit-gradient(linear,left top,left bottom,from(#c86311),to(#c86311));background:-moz-linear-gradient(top,#c86311,#c86311);background:linear-gradient(to bottom,#c86311,#c86311)}
#nav0{background-color:#f3f3f3;border-width:1px;padding:0;margin:0;font-family:arial;box-shadow:2px 2px 2px #CCCCCC;background: linear-gradient(180deg, #F0F0F0, #F6F6F6);}
#nav1{float:left;width:49%;text-indent:5px;font-weight:bold}
#nav2{float:left;width:49%;text-align:right}
#nav3{clear:both}
#mobileadjust{float:right;width:180px;text-align:left}
.taptarget{line-height:155%;margin-left:2%;}
#paragrafo{margin-left:1%;margin-right:1%;text-align:justify;}

@media screen and (max-width: 799px) {
#nav0{background-color:#fff;line-height:150%}
#nav1{background-color:#f3f3f3;float:left;width:98%;text-indent:5px}
#nav2{float:left;width:98%;text-indent:5px;text-align:left}
}

@media screen and (max-width: 770px) {
.taptarget{line-height:165%}
}

@media screen and (max-width: 580px) {
#mobileadjust{display:block;float:left;margin:0;width:100%}
#nav1{line-height:170%}
#nav2{line-height:170%}
#border{box-shadow:0 0 0 #404040}
.taptarget{line-height:175%}
.video-container,.video-container iframe,.video-container object,.video-container embed {width:100%;height:100%;max-width:560px;max-height:315px}
}